@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Montserrat;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* ################################################################# */

/* HEADER SECTION */

/* ################################################################# */
.header{
    background-color: #000000;
    color: white;
    justify-content: end;
    gap: 20px;
    width: 100%;
}

/* ################################################################# */

/* NAV SECTION */

/* ################################################################# */
nav{
    display: flex;
    box-shadow: 2px 2px 10px gray;
    justify-content: space-between;
    background-color: white;
    padding: 11px 5%;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 12;
}
.logo{
    font-size: 2rem;
    position: relative;
}
span{
    color: red;
}
nav ul{
    display: flex;
    gap: 15%;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: rgb(51, 48, 48);
}
nav ul a li{
    padding: 10px;
}
nav ul li:hover{
    background-color: red;
    color: white;
}

.btn_nav{
    width: 10%;
    height: 33px;
    border: none;
    outline: none;
    transition: .2s;
    background-color: rgb(235, 21, 21);
    color: white;
}
.btn_nav:hover{
    background-color: rgb(175, 9, 9);
    color: white;
}

/* Add this style to control the toggle button */
.toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/* Hide the nav links initially */
.nav-links {
    display: flex;
}
#nav-toggle{
    display: none;
}

/* Media query for small screens */
@media screen and (max-width: 960px) {
    .nav-links {
        display: flex;
        justify-content: start;
        gap: 0px;
    }
    .btn_nav{
        display: none;
    }
}
/* Media query for small screens */
@media screen and (max-width: 768px) {
    .toggle-btn {
        display: block;
        margin-left: auto;
    }

    .btn_nav{
        display: none;
    }

    /* Show the navigation links when the toggle is checked */
    input[type="checkbox"]:checked + .nav-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 62px;
        right: 0;
        background-color: white;
        width: 100%;
        box-shadow: 2px 2px 10px gray;
        padding: 10px;
        z-index: 11;
    }

    .nav-links a {
        color: rgb(51, 48, 48);
    }

    .nav-links{
        display: none;
    }

    /* Adjust position of Download CV button */
    .btn_nav {
        width: 100%;
        margin-top: 10px;
    }
}
/* ################################################################# */

/* HERO SECTION */

/* ################################################################# */

.hero{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
    width: 100%;
}

@media screen and (max-width : 976px){
    .hero{
        height: 80vh;
        display: flex;
        align-items: center;
        padding: 30px;
        position: relative;
        width: 100%;
    }
}

.hero .footer_side .one{
    width: 50%;
}
.hero_name{
    margin: 10px 0px;
}
.hero_content{
    width: 50%;
}
.cta{
    margin: 20px 0px;
    color: white;
    background-color: red;
    height: 33px;
    padding:0px 20px;
    border:none;
    outline: none;
}
.cta:hover{
    background-color: rgb(230, 62, 62);
}
.icons{
    display: flex;
    gap: 20px;
    margin-top: 4vh;
}
.icons .fa{
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
.icons .fa:hover{
    color: red;
}


.red_line_art{
    position: absolute;
    right: 70px;   
    bottom: 110px;    
    z-index: -1;                                                          
}
/* Media query for small screens */
@media screen and (max-width: 960px) {
    .hero{
        /* height: 80vh; */
        display: flex;
        align-items: center;
        padding: 30px;
        position: relative;
        background-color: rgb(218, 210, 201);
        max-width: 960px;
    } 
    .red_line_art{
       display: none;                                                       
    }
    .hero_bg{
        position: absolute;
        top:10px;
        right: -180px;
        z-index: -0;
    }
    .hero_content{
        width: 60%;
        position: relative;
        z-index: 1;
    }
}
/* ################################################################# */

/* ABOUT ME */

/* ################################################################# */

.section{
    width: 100%;
    /* background-image: radial-gradient(rgb(197, 189, 189),rgb(4, 144, 144)); */
}
.about{
    background-color: rgb(220, 229, 236);
}
.section .section_header{
    color: red;
    text-align: center;
    font-size: 2.5rem;
}
.section_text{
    text-align: center;
    width: 100%;
    margin:10px auto;
}
.about_me{
    display: flex;
    justify-content: space-between;
    padding:0px 6%;
    align-items: center;
    position: relative;
    
}
.aside{
    width: 50%;
}
.aside p{
    text-align: justify;
    font-size: .9rem;
}
.aside button{
    background-color: red;
    width: 40%;
    margin:20px auto;
    display: block;
    color: white;
    border: none;
    height: 33px;
}
.aside button:hover{
    background-color: rgb(209, 26, 26);
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .section_text{
        text-align: center;
        /* width: 100%; */
        /* margin:10px auto; */
    }
    .about_me{
        display: flex;
        flex-direction: column;
        padding:0px 6%;
        align-items: center;
        position: relative;  
    }
    .hero_name{
        font-size: 1.5rem;
        margin-bottom: 30px;
    }
    .about_art{
        width:100%;
    }
    .aside{
        width: 100%;
    }
}

/* ################################################################# */

/* SERVICES */

/* ################################################################# */
.section_header{
    text-align: center;
    color: red;
    margin-top: 30px;
}

.section_text{
    width: 65%;
}
.services{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;

    gap: 1%;
    width: 96%;
    margin: auto;
}
.services .card{
    width: 32%;
    background-color: rgb(230, 235, 240);
    padding: 10px;
    text-align: center;
    transition: all .3s;
    min-width: 320px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.services .card:hover{
    box-shadow:1px 1px 10px gray;
}
.services .card .fa{
    font-size: 5rem;
    text-align: center;
    display: block;
    margin: 10px;
    color: red;
}
.services .card h2{
    margin: 20px 0px;
}
.services .card .card_btn{
    margin: 20px 0px;
    height: 34px;
    padding: 0px 40px;
    border: none;
    background-color: red;
    color: white;
}
.services .card .card_btn:hover{
    background-color: rgb(204, 58, 58);
}



/* ################################################################# */

/* Products */

/* ################################################################# */


.products{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;

    gap: 1%;
    width: 96%;
    margin: auto;
}

.products .cards{
    width:24%;
    margin-top: 30px;
    text-align: center;
    padding: 8px;
    background-color: rgb(220, 229, 236);
    min-width:320px;
    /* max-width: 450px; */
}

.products .cards .card_img{
    width: 100%;
    height:33vh;
}
.products .cards  .card_header{
    margin: 5px 0px;
    color: red;
}

.products .cards .card_btn{
    background-color: red;
    color: white;
    width: 60%;
    margin:10px 0px;
    height: 35px;
    border: none;
}
.products .cards .card_btn:hover{
    background-color: rgb(211, 40, 40);
}

/* ################################################################# */

/* CTA */

/* ################################################################# */

.cta-section {
    margin-top: 40px;
    background-image: url(images/cta.png);
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent black overlay */
    background-blend-mode: overlay; /* Ensure the image and color blend well */
    padding: 50px 0;
    text-align: center;
    color: white; /* Set text color to white */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cta-content {
    max-width: 600px;
    margin: 0 auto;
}

.cta-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta-content p {
    font-size: .9rem;
    color: #ffffff;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 8px 25px;
    background-color: #e91717;
    color: #fff; 
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}

.cta-button:hover {
    background-color: red;
}


/*###################################################
CONTACT US SECTION
##################################################### */

/* Contact Us */
.contact-us{
    margin: 10px;
}
.contact-container{
    display: flex;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    width: 80%;
    margin: auto;
}
.contact-details, .contact-form {
    width: 49%;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
}
.contact-details h2 .contact-form h2{
    color: var(--pepsi-red);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* outline: 1px solid var(--pepsi-blue); */
    outline: none;
}

.form_submit {
    display: inline-block;
    padding: 10px 40px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:20px auto;
    display: block;
}

.form_submit:hover {
    background-color: red;
}


/* Media query for small screens */
@media screen and (max-width: 768px){
    .contact-container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: none;
    }
    .contact-details, .contact-form {
        width: 100%;
    }
}

/*###################################################
FOOTER SECTION
##################################################### */
.footer{
    background-color:  black;
    color: white;

    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    font-family: "Montserrat";
    margin: 10px 0px;
}
.one{
    width: 35%;
}
@media screen and (max-width: 976px){
    .footer{
        background-color:  black;
        color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        margin: 5px 0px;
    }
    .one{
        width: 100%;
    }
}

.footer_icons{
    display: flex;
    gap: 20px;
}
.one p{
    font-family: "Montserrat";
    margin-bottom: 10px;
}

.footer_side{
    margin-top: 30px;
}

.footer_side h2{
    color: var(--pepsi-red);
    margin-bottom: 10px;
}
.footer_side ul{
    list-style: none;
}
.footer_side ul li:hover{
     color: rgb(216, 41, 41);
}